:root {
    --smaller: .75;
  }
  
 * {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }
  
html, body {
    height: 100%;
    margin: 0;
  }
  
main {
    align-items: center;
    background-color: #7dd6d0;
    display: flex;
    font-family: monospace;
  }
.clock-input {
    text-align: left;
    display: inline-block;
}
  
.container {
    color: #333;
    margin: 0 auto;
    text-align: center;
  }
  
h1 {
    font-weight: normal;
    letter-spacing: .125rem;
    text-transform: uppercase;
  }
  
li {
    display: inline-block;
    font-size: 1.5em;
    list-style-type: none;
    padding: 1em;
    text-transform: uppercase;
  }
  
li span {
    display: block;
    font-size: 4.5rem;
  }

  