:root {
    --smaller: .75;
  }
  
 * {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }
  
html, body {
    height: 100%;
    margin: 0;
  }
  
main {
    color: #FFFFFF;
    align-items: center;
    background-color: #62B1B6;
    display: flex;
    font-family: 'Courier New', Courier, monospace;
  }
#startButton {
    font-size: 15px;
    border-color: rgba(148, 146, 146, 0.41);
    padding: 5px;
    outline: 0;
    background-color: rgba(255, 255, 255, 0.047);
    color: #ffffff; 
    font-weight: bold;
    transition: all ease 0.3s;
}
.clock-input {
    text-align: left;
    display: inline-block;
}
  
.container {
    margin: 0 auto;
    text-align: center;
  }

h1 {
    font-weight: normal;
    letter-spacing: .125rem;
    text-transform: uppercase;
  }
  
li {
    display: inline-block;
    font-size: 1.5em;
    list-style-type: none;
    padding: 1em;
    text-transform: uppercase;
  }
  
li span {
    display: block;
    font-size: 4.5rem;
  }

  