:root {
    --primary-color: #e8e4db;
    --accent-color: #b88f93;
    --text-on-color: #404444;
    --bicolor-gradient: linear-gradient(125deg,#b8cabe74,#f5d5c664);
    --tricolor-gradient: linear-gradient(125deg,#b8cabe,#f5d5c6, #b88f93);
    --icon-filter: invert(0.8) brightness(50%) sepia(0%) saturate(100%) hue-rotate(240deg);
}

*, *::after, *::before {
    border: 0;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    min-height: 100vh;
    padding: 2rem;
    background-color: var(--primary-color) !important;
}

main {
    position: relative;
    color: var(--text-on-color);
    background-color: var(--primary-color);
    font-family: 'Courier New', Courier, monospace;
}

h2 {
    text-align: center;
    padding-top: 50px;
}

input[type="date"]::-webkit-calendar-picker-indicator {
    cursor: pointer;
    filter: var(--icon-filter);
}

input[type="time"]::-webkit-calendar-picker-indicator {
    cursor: pointer;
    filter: var(--icon-filter);
}

input {
    height: 30px;
    background-color: #e8e4db;
    background-image: var(--bicolor-gradient);
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 3px;
    outline: 0;
    color: #4C5152;
}

button {
    background-color: #b8cabe;
    border: 0px;
    font-size: 24px;
    padding: 10px;
    color: var(--text-on-color); 
    font-weight: lighter;
    transition: all ease 0.3s;
}

h1 {
    padding-top: 20px;
    font-weight: normal;
    letter-spacing: .125rem;
}
  
li {
    display: inline-block;
    position: relative;
    width: 100px;
    height: 100px;
    margin: 20px;
    border-radius: 50%;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 0.0625em 0.0625em,
    rgba(0, 0, 0, 0.25) 0px 0.125em 0.5em,
    rgba(255, 255, 255, 0.1) 0px 0px 0px 1px;
}

li span {
    display: inline-block;
    margin-top: 35px;
}

#start-button {
    width: 100%;
}

#clear-button {
    background-color: var(--accent-color);
    width: 100px;
    margin-bottom: 20px;
}

.event-name {
    width: 124%;
}

.form-container {
    text-align: center;
    background-color: var(--primary-color);
    padding-bottom: 10px;
}

.event-form {
    display: inline-block;
}
  
.countdown-timer {
    background-color: #000;
    background-image: var(--tricolor-gradient);
    border-radius: 10px;
    text-align: center;
    width: 40%;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 0.0625em 0.0625em,
    rgba(0, 0, 0, 0.25) 0px 0.125em 0.5em,
    rgba(255, 255, 255, 0.1) 0px 0px 0px 1px;
}

.event-headline {
    margin-top: 100px;
    font-size: 26px;
}

