html {
    background-color: #598B8E;
}

body {
    background-color: #598B8E;
    display: flex;
    flex-direction: column;
    min-height: 100%;
}
main {
    color: #FFFFFF;
    align-items: center;
    background-color: #598B8E;
    display: flex;
    font-family: 'Courier New', Courier, monospace;
}
h2 {
    padding-top: 50px;
}
input[type="date"]::-webkit-calendar-picker-indicator {
    cursor: pointer;
    filter: invert(0.8) brightness(50%) sepia(0%) saturate(10000%) hue-rotate(240deg);
}
input[type="time"]::-webkit-calendar-picker-indicator {
    cursor: pointer;
    filter: invert(0.8) brightness(50%) sepia(0%) saturate(10000%) hue-rotate(240deg);
}
.start {
    display: inline-block;
    position: relative;    
    font-size: 15px;
    height: 29px;
    width: 90px;
    border-color: rgba(114, 188, 177, 0.41);
    background-color: #4C5152;
    color: #ffffff; 
    transition: all ease 0.3s;
}
#eventName {
    font-size: 14px;
    color: #4C5152;
    border-color: #ffffff00;
    background-color: #D9D9D9;
    border-radius: 5px;
}
#eventDate {
    font-size: 14px;
    color: #4C5152;
    border-color: #ffffff00;
    background-color: #D9D9D9;
    border-radius: 5px;
}
#optionalTime {
    font-size: 14px;
    color: #4C5152;
    border-color: #ffffff00;
    background-color: #D9D9D9;
    border-radius: 5px;
}
#eventHeadline {
    margin-top: 100px;
    font-size: 20px;
}
.clock-input {
    text-align: left;
    display: inline-block;
}
  
.container {
    margin: 0 auto;
    text-align: center;
}

h1 {
    font-weight: normal;
    letter-spacing: .125rem;
}
  
li {
    display: inline-block;
    position: relative;
    width: 100px;
    height: 100px;
    background-color: #4C5152;
    margin: 20px;
    border-radius: 50%;
}

li span {
    display: inline-block;
    margin-top: 35px;
}
footer {
    background-color: #598B8E;
    color: #3b3f3f;
    margin-top: auto;
    text-align: center;
    font-size: 10px;
}
